.btn-container{
    display: flex;
    justify-content: space-between;
}


.btn{
    background-color: #FF8400;
    height: 50px;
    width: 250px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    border-radius: 4px;
}

.btn-left{
    margin-right: 10px;
}

.btn-right{
    margin-left: 10px;
}
